/*

  EmojiGen.com CSS

*/



/*
  LAYOUT / GENERAL
*/

body {
  background-image: url('../img/background.png');
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  padding: 1vw;
}

img {
  max-width: 100%;
}

p {
  padding: 5% 10%;
}

ul {
  list-style: none;
  padding: 0;
}
li {
}

section {
  max-width: 100%;
  margin: 0 auto;
  display: block;
  float: left;
  width: 100vw;
  height: 100vh;
}
#pageTwo {

}

#logos li {
  vertical-align: top;
}
#logos img {
  width: 3vw;
}
#logoType {
  margin-left: -20px;
  margin-top:35px;
  font-weight: 600;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

#introText {
  position: absolute;
  width: 40vw;
  top: 30vh;
  right: 45vw;
  font-size: 3.5vw;
  letter-spacing: .15rem;
  font-weight: 600;

}

#welcomeImage {
  float: right;
  width: 60vw;
  margin-top: 5vh;
}

#mockupGif {
  float: left;
  width: 20vw;
  margin-top: -5vh;
  padding: 0 15vw 0 5vw;
}

.appInfo h3 {
  font-size: 2.5vw;
  margin-top: -15vh;
  float: right;

}


/*
  TYPOGRAPHY
*/

body {
  font-family: 'Work Sans';
  font-size:;
  line-height:;
  font-weight: 600;
  text-decoration: none;
}

a, a:visited {
  text-decoration: none;
  color: #000;
}

h1 {
  font-size:;
  font-weight:;
}
h2 #introText {
  font-size:;
}
h3 {
  font-size:;
}

p {

}







/*
  COLOR
*/

body {
  color:;
}

a, a visited {
  color:;
}
