/*
 *
 * EmojiGen.com CSS
 * _
 * Chaz Giese
 * chazgiese@gmail.com
 * www.chazgie.se
 *
 *
 */





/*
___________________
     GLOBAL STYLES
*/

* {
  webkit-box-sizing: border-box;
  moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: visible;
}

html,
body,
header {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}


body {
  height: 100vh;
  background-image: url('../imgs/background.gif');
  background-attachment: fixed;
  color: #000;
  font-family: 'Work Sans',
              'Helvetica Neue',
              helvetica,
              sans-serif;
  font-size: 1.33rem;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}


/*
______________________
     FLEX BOX CONTROLS
*/

body,
nav,
section,
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

nav,
section,
footer {
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
}

body {
  -webkit-flex-direction: column;
  flex-direction: column;
}

section#main {
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


/*
_______________
     TYPOGRAPHY
*/

nav a {
  font-size: 1rem;
  letter-spacing: 0.05rem;
  font-weight: 300;
}
nav a:hover,
#genButton:hover {
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

#emojiBox {
  font-family: 'Apple Color Emoji';
  font-size: 6.66rem;
  line-height: 7.2rem;
  letter-spacing: .66rem;
}

#genButton {
  font-size: 2.13rem;
  font-weight: 200;
}
#genButton:hover {
  cursor: pointer;
  opacity: 1;
}

/*
___________________
     CONTENT STYLES
*/

header {
  position: fixed;
  top: 0;
  left: 0;
  padding: .66rem;
  background-image:
    linear-gradient(-180deg,
      rgba(255,255,255,1.0) 10%,
      rgba(255,255,255,0.0) 100%);
}
nav {
  max-width: 900px;
  margin: 0 auto;
}

section#main {
  min-height: 100vh;
}

#emojiBox {
  padding-top: 7vh;
  width: auto;
}

#genButton {
  width: auto;
}

.sectionItem {
  width: 50%;
}





@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
  #emojiBox {
  -webkit-transform: scale(3);
  line-height: 1.5rem;
  letter-spacing: 0;
}
}

@media (min-width: 1334px) {

}
