/*
 *
 * EmojiGen.com CSS
 * _
 * Chaz Giese
 * chazgiese@gmail.com
 * www.chazgie.se
 *
 *
 */





/*
___________________
     GLOBAL STYLES
*/

* {
  webkit-box-sizing: border-box;
  moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: visible;
}

html,
body,
header {
  width: 100%;
  margin: 0;
  padding: 0;
}


body {
  height: 100vh;
  background-image: url('../imgs/background.png');
  color: #000;
  font-family: 'Work Sans',
              'Helvetica Neue',
              helvetica,
              sans-serif;
  font-size: 1.33rem;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  font-weight: normal;
  color: inherit;
}


/*
______________________
     FLEX BOX CONTROLS
*/

body,
nav,
#contentWrap,
section,
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

nav,
footer {
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: center;
}

body,
#contentWrap {
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
}

section {
-webkit-flex-direction: column;
flex-direction: column;
justify-content: center;
align-content: center;
}
/*
_______________
     TYPOGRAPHY
*/

nav {
  letter-spacing: .133rem;
  font-weight: 500;
}
#emojiBox {
  font-family: 'Apple Color Emoji';
  font-size: 6.66rem;
  line-height: 7.2rem;
  letter-spacing: .66rem;
}
#genButton {
  font-size: 2.13rem;
  font-weight: 200;
  opacity: .75;
}
#genButton:hover {
  cursor: pointer;
  opacity: 1;
}

/*
___________________
     CONTENT STYLES
*/

header {
  height: 10vh;
  padding: .67rem;
}

section {
  height: 60vh;
}

#genButton {
  margin: 5vh 0 10vh;
  border: none;
  background: none;
}



/*

  D I S P L A Y -
  S I Z E
  V A R I A T I O N S
  _
  formatting for
  different display
  sizes


*/

@media (min-width: 750px) {

}

@media (min-width: 1334px) {

}
